.red-hat-display {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.newsreader {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    
}
nav{
    position: absolute;
}

.homepage{
    position: absolute;
    height: auto;
    width: 120%;
    z-index: -100;
    display: flex;
    padding: auto;
    position: fixed;
}
#menu{
    z-index: 9999;
    position: sticky;
    top: 0;
    padding-bottom: 2em;
}

#menu > ul {
    
    display: flex;
    justify-content: space-between;
    margin: 2em;
    align-items: center;
}

#menu > ul > li {
    list-style: none;
}

#menu > ul > li > a {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 2em;
}

#menu > ul > li > a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: 100;
    margin-top: 20%;

}

footer {
    padding-top: 3em;
}

footer > ul {
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

footer > ul > li {
    list-style: none;
}

footer > ul > li > a {
    font-family: "Red Hat Display", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 2em;
}

footer > ul > li > a:hover {
    text-decoration: underline;
    padding-block-end: -8%;
}



/* ABOUT */
#titulo img {
    height: 50%;
    width: 100%;
    padding-bottom: 2em;
}

#informacion {
    font-family: Inter;
    font-weight: 400;
    margin: 2em;
    padding-bottom: 3em;
}

#informacion h3 {
    font-size: 3vw;
}

#informacion p {
    font-size: 1.5vw;
    padding-top: 1.5em;
}


/* CONTACTO  */
#redes {
    height: 4em;
    display: flex;
    justify-content: space-between;
    margin: 2em;
    flex-direction: row;
}

#redes > a {
    align-items: center;
    font-family: Inter;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 2em;
}


#redes > a:hover {
    text-decoration: underline;
}

.formulario div:first-child div{
    border: 1px solid black;
    padding: 1%;
    border-radius: 13px;
}
.formulario div:first-child div h5 {
    font-family: Inter;
    color: rgb(176, 176, 176);
}

.formulario {
    padding: 6%;
}

.formulario h5 {
    padding: 1.5% 0;
}

.formulario div div h5 {
    color: black;
}

.formulario div h4 {
    padding: 2% 0;
    font-size: 5vw;
}

.formulario div:last-child div:last-child {
    margin-top: 1.5%;
}

.formulario div:first-child div:last-child {
    height: 30vh;
}

.buttonform {
    border-radius: 13px;
    border: 0.5px solid white;
    height: 5vh;
    background-color: black;
    width: 20%;
    display: flex;
    justify-content: center;
}

.formulario div:last-child div h4 {
    font-weight: 300;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

.buttonform h4 {
    color: white;
}

.buttonform:hover {
    background-color: white;
    border: 1px solid black;
}

.formulario div:last-child div h4:hover {
    color: black;
}

.formulario h4, h5 {
    font-family: Inter;
    font-weight: 400;
}

.map {
    width: 100%;
    padding: 0;
}


.end{
   padding-top: 17%;}
   
.negro{
    color: black;
   }