:root {
    --primary-color: #ffffff;
    --secondary-color: #333333;
    --background-color: #ffffff;
    --text-color: #000000;
}
@font-face {
    font-family: 'Red Hat Display';
    src: url('../assets/fonts/RedHatDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../assets/fonts/Newsreader-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}